* text=auto

*.md text eol=lf
*.m text eol=lf
*.py text eol=lf
*.gitignore text eol=lf
*.gitattributes text eol=lf

*.docx binary
*.xlsx binary
*.png binary
*.mat binary
*.nc binary
*.zip binary
*.img binary
